// {
//   "presets": ["@babel/preset-env"],
//   "plugins": [
//     ["@babel/plugin-transform-runtime",
//       {
//         "regenerator": true
//       }
//     ]
//   ],
// }

// {
//   "presets": [
//     ["@babel/env", {
//       "modules": false,
//       "targets": {
//         "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
//       }
//     }]
//   ]
// }

{
  "presets": [
    ["@babel/preset-env"],
    // ["@babel/preset-env",
    //   {
    //     "modules": false,
    //     "targets": {
    //       "browsers": ["> 1%", "last 2 versions", "not ie <= 8", "ie >= 11"]
    //     }
    //   }
    // ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}