div.svy-blocking-orientaion-cont
	div.svy-blocking-orientaion-content
		div.svy-blocking-icon
		div.svy-blocking-label
			p Game not available in portrait orientation.
			p Please rotate your phone for the best experience.