div#game-container
	div#canvas-container
		//- div#savvy_ann_container-popup.pull-left
		canvas#gameStage(width="1280" height="720" oncontextmenu="return false")
		canvas#alertStage(width="1280" height="720" oncontextmenu="return false")