doctype html
html
  head
    title 500 - Oops! Something wrong
    meta(charset='utf-8')
    meta(name='apple-touch-fullscreen', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=320, initial-scale=1')
    meta(name='theme-color', content='#b0b0b0')
    meta(name='msapplication-navbutton-color', content='#b0b0b0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    |
    link(rel="stylesheet" href=rs+'/build/css/error-styles.css?v='+v)
  body
    div#bg-overlays
      div#center
        div#pageCont
          div.pageNotFound-container
            span#image500.image
            h1.somethingWrong-h1.h1 Oops! Something wrong
            p#message500.message please reload your web page.