div#header.popup-header
	div.top
		p#datetime
		p.pull-right
			span.maxpayout
			span.hide-on-min
			span.currency
			span#bet_credit.balance
			span#update_balance.icon-refresh.pointer
		div.clear-fix
	div.bottom
		div.logo
		div.navigation
			ul#link
		div.mobile-nav