div#svy-mobile
	div#game-container
		div#canvas-container
			//- div#savvy_ann_container.pull-left
			//- 	div#rtext(style="height: 6vmin;")
					
			canvas#gameStage(width="1280" height="720")
			canvas#alertStage(width="1280" height="720")